
<div class="container mt-5" style="background-color: white; color: black; border-radius: 20px; margin-bottom: 40px;box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; font-family: 'HP Simplified';">
  <div class="row">
      <div class="col">

        <div class="user-image">
            <img [src]="this.images" alt="user-profile" width="150px" height="150px" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; border-radius: 50%;">
        </div>
        
          <h1 class="text-center mb-5">Datos de {{user?.nombre + ' ' + user.apellidos}} </h1>

         

          <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{user?.id}}</td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>{{user?.nombre}}</td>
                </tr>
                <tr>
                    <td>Apellidos</td>
                    <td>{{user?.apellidos}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{user?.email}}</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td>{{user?.usuario}}</td>
                </tr>

                <tr>
                    <td>Tipo de usuario</td>
                    <td>{{user?.tipousuario.nombre}}</td>
                </tr>

                
                
                    
              
            </tbody>
          </table>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="oLocation.back()" >Close</button>
          <button routerLink="edit" type="button" class="btn btn-secondary" data-bs-dismiss="modal"  >Editar user</button>