<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Lista de Usuarios</h1>      
      <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
        
        <a [routerLink]="['/admin/user/new']" class="btn btn-primary mx-3">Crear usuario</a>
        <app-search-unrouted [placeHolder]="'Buscar user'" (onSearch)="setFilter( $event )"></app-search-unrouted>
        
        <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer?.totalRegisters"
          (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
        
      </div>
      
      <div class="col-md">
        <app-pagination-unrouted [nPage]="responseFromServer?.actualPage + 1" [nTotalPages]="totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
      </div>
      
      
      <!--
      <div class="col-md text-end">
        
       <h5 class="text-muted">Total de registros en la consulta {{responseFromServer?.length}}</h5>
      </div>
    -->
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th (click)="setOrder('id')">ID
              <div *ngIf="sortField=='id'&&sortDirection=='asc'">^</div>
              <div *ngIf="sortField=='id'&&sortDirection=='desc'">_</div>
            </th>
            <th (click)="setOrder('title')">Titulo
              <div *ngIf="sortField=='title'&&sortDirection=='asc'">^</div>
              <div *ngIf="sortField=='title'&&sortDirection=='desc'">_</div>
            </th>
            <th (click)="setOrder('contenido')">Contenido
              <div *ngIf="sortField=='contenido'&&sortDirection=='asc'">^</div>
              <div *ngIf="sortField=='contenido'&&sortDirection=='desc'">_</div>
            </th>
            <th (click)="setOrder('datetime')">Fecha</th>
            <th (click)="setOrder('validacion')">validacion</th>
            <th (click)="setOrder('usuario.id')">Usuario</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of responseFromServer?.content">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.contenido}}</td>
            <td>{{post.datetime}}</td>
            <td>{{post.validacion}}</td>
            <td>{{post.usuario.id}}</td>            
            <td>
              <div class="btn-group" role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-primary" [routerLink]="['/admin/user/view',post.id]">
                  ver
                </button>
                <button class="btn btn-sm btn-warning" [routerLink]="['/admin/user/edit',post.id]">
                  editar
                </button>
                <button class="btn btn-sm btn-danger" [routerLink]="['/admin','user','delete',post.id]">
                  borrar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="generateInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Cambios realizados</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              {{msg}}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getPage()">Close</button>
          </div>
      </div>
  </div>
</div>